@import url("https://fonts.googleapis.com/css2?family=Montserrat:500");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #24252a;
  padding: 20px 10%;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

.side_bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #24252a;
  backdrop-filter: blur(10px);
  opacity: 0.95;
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.side_bar li {
  list-style: none;
  width: 100%;
}

.side_bar a {
  display: block;
  width: 100%;
  padding: 15px 20px;
  opacity: 1;
  color: #e4ebed;
  text-decoration: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.side_bar a:hover {
  background-color: rgba(234, 201, 117, 0.8);
  color: #24252a;
}

.hideonmobile a {
  padding: 0px 5px;
  color: #f1fcff;
  text-decoration: none;
  display: inline-block;
  list-style: none;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: all 0.3s ease 0s;
}

.hideonmobile {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
  margin-right: auto;
}

.hideonmobile a:hover {
  color: rgba(234, 201, 117, 0.8);
}

.logo {
  color: #e4ebed;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  padding: 2px 2px 2px 2px;
  border: rgba(234, 201, 117, 0.8) solid 4px;
  border-radius: 1px;
  margin-right: auto;
}

.hero img {
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  object-fit: cover;
  float: left;
  margin: 20px 20px 20px 20px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #42444a;
  color: #e4ebed;
}

.hero h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: rgba(234, 201, 117, 0.8);
}

.sheldon {
  background-color: white;
  color: #24252a;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px 10px 0px;
}

.hero a {
  color: rgba(234, 201, 117, 0.8);
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  align-content: left;
  text-decoration: none;
  list-style: none;
}
.hero_text {
  padding: 20px;
  width: 350px;
  height: 250px;
}
.hero_list li {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}

.projects {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.projects-header {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 5% 30px;
  color: rgba(234, 201, 117, 0.8);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  text-shadow: 2px 2px 4px #212121;
}

.projects-header:hover {
  color: #212121;
}

.Box1,
.Box2,
.Box3 {
  display: flex;
  background-color: #e3e3dd;
  color: #24252a;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  width: 350px;
  height: 350px;
  min-width: 350px;
  min-height: 350px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Box3 img,
.Box2 img,
.Box1 img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  flex-grow: 1;
}

.Box1 a,
.Box2 a,
.Box3 a {
  color: #24252a;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 5% 20px;
}
footer {
  background-color: #24252a;
  width: 100%;
  padding: 15px 5% 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.footer a {
  color: #e4ebed;
  list-style: none;
  text-decoration: none;
  padding: 10px 5% 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
}

.footer p {
  color: #e4ebed;
  list-style: none;
  text-decoration: none;
  padding: 10px 5% 20px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.menubutton {
  display: none;
}

@media (max-width: 768px) {
  .body,
  .hero,
  .projects .side_bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hideonmobile {
    display: none;
  }
  .menubutton {
    display: block;
  }
}
@media (max-width: 400px) {
  .side_bar {
    width: 100%;
  }
}
